.cont-card {
    flex: 0 0 auto;
    width: 33.33%;
    max-width: 100%;
    margin-bottom: 3rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 5px 4px 10px rgba(153, 153, 153, 0.89);
    width: 21rem; 
    height: 45rem;
    transition: all .7s ease;
}
.card:hover{
    box-shadow: 5px 4px 10px #8042bbe8;
    transform: scale(1.1);
    cursor: pointer;
}
.card-body{
    padding: 1rem 1rem; 
    align-items: center;
    align-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%; 
}
.card-body h2{
    margin: 1rem 0;
}
.card-body p{
    margin-bottom: 1rem;
}
h2, h3, h1, p{
    text-align: center;
    max-height: 104px;
}
p{
    overflow: hidden;
    white-space: normal;
    line-height: 26px;
    margin-bottom: 15px;
    font-size: 16px;
    height: auto;
}
img{
    width: 100%;
    height: 300px;
    vertical-align: middle;
}
.price{
    color: #4f1a81;
}

@media only screen and (max-width: 1066px){
    .row{
        margin: 0;
    }
/*     h1{
        margin-left: 1.85rem;
        margin-bottom: 0;
    } */
    .cont-card {    
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
        margin-top: 3.1rem;
        margin-bottom: .65rem;
    }
}

@media only screen and (max-width: 768px){
    #nav-container{
        width: 100%;
    }
    .card{
        width: 90%;
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: max-content;
    }
    .cont-card {
        width: 100%;
    }

}